<nav class="navbar navbar-dark bg-dark">
    <a class="navbrand" href=""><img src="https://i.ibb.co/Y8dWSBQ/KRA-Logo3.png" alt="KRA-Logo3"></a>
    <div class="nav nav-icons nav-fill"> 
        <a class="nav-item nav-link" href="#">Home</a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Market Place</a>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="thisData" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</button>
        <div class="dropdown-menu $zindex-dropdown:1000 !default;" aria-labelledby="thisData">
            <a class="dropdown-item" href="">Login</a>
            <a class="dropdown-item" href="">Sign Up</a>
        </div>
    </div>
</nav>


<!--<a href="https://ibb.co/ZKgJrzX"></a>-->